.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



body {
  transition: background-color 0.3s ease;
}

body[data-theme="light"] {
  --primary: #34c759;
  --secondary: #ffd60a;
  --dark: #1c1c1e;
  --light: #ffffff;
  --gray: #f2f2f7;
  --text: #111111;
  --text-light: #8e8e93;
}

body[data-theme="dark"] {
  --primary: #34c759;
  --secondary: #ffd60a;
  --dark: #1c1c1e;
  --light: #101820;
  --gray: #2c2c2e;
  --text: #eeeeee;
  --text-light: #aaaaaa;
}


.lemon-tree-container[data-theme="dark"] canvas {
  background-color: #0e0e0e;
}